<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-blsm-permission" version="0.0.1" 
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Permission</name>
    <description>Description</description>
    <js-module name="Permission" src="www/Permission.js">
        <clobbers target="cordova.plugins.Permission"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="cordova-plugin-blsm-permission">
                <param name="android-package" value="com.blsm.permission"/>
            </feature>
        </config-file>
        <source-file src="src/android/Permission.java" target-dir="src/org/apache/cordova/permission"/>
    </platform>
</plugin>